<strong><span data-defer-to="<%= view.defer_key %>-status">...</span> / <span id="elasticsearch-active-tooltip"><span data-defer-to="<%= view.defer_key %>-active">...</span> active</span> / <span data-defer-to="<%= view.defer_key %>-inactive">...</span> inactive</strong> elasticsearch
